.pointer{
	cursor: pointer;
}


table {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	border-collapse: collapse;
}
td {
	padding: 10px;
	border: 1px solid #ccc;
}

.form-container{
	border: 1px solid black;
	width:100%;
	max-width:800px;
    margin: 0 auto;
	padding:20px;
    box-sizing: border-box;
}
.td-a{
    width: 100px;
}